@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

#dropdown-menu-m .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-m .navbar-brand a {
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-m .nav .link,
#dropdown-menu-m .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-m .navbar,
#dropdown-menu-m .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-m .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-m .dropdown-menu a:hover,
#dropdown-menu-m .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-m .navbar-toggler {
  color: #000000;
}
#header1-1 P {
  font-size: 22px;
}

#dropdown-menu-o .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-o .navbar-brand a {
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-o .nav .link,
#dropdown-menu-o .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-o .navbar,
#dropdown-menu-o .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-o .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-o .dropdown-menu a:hover,
#dropdown-menu-o .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-o .navbar-toggler {
  color: #000000;
}
#content5-24 .mbr-section-title {
  font-size: 36px;
  color: #d9534f;
}
#image2-2a DIV {
  text-align: right;
}
#content5-25 .mbr-section-title {
  font-size: 36px;
  color: #d9534f;
}
#image2-2b DIV {
  text-align: right;
}
#content5-27 .mbr-section-title {
  color: #d9534f;
  font-size: 36px;
}
#image2-2c DIV {
  text-align: right;
}
#content5-29 .mbr-section-title {
  color: #d9534f;
  font-size: 36px;
}
#image2-2d DIV {
  text-align: right;
}
#header3-1o SMALL {
  font-size: 21px;
  color: #d9534f;
}

#dropdown-menu-w .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-w .navbar-brand a {
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-w .nav .link,
#dropdown-menu-w .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-w .navbar,
#dropdown-menu-w .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-w .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-w .dropdown-menu a:hover,
#dropdown-menu-w .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-w .navbar-toggler {
  color: #000000;
}
#content5-x P {
  font-size: 20px;
}

#dropdown-menu-n .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-n .navbar-brand a {
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-n .nav .link,
#dropdown-menu-n .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-n .navbar,
#dropdown-menu-n .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-n .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-n .dropdown-menu a:hover,
#dropdown-menu-n .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-n .navbar-toggler {
  color: #000000;
}

#dropdown-menu-p .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-p .navbar-brand a {
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-p .nav .link,
#dropdown-menu-p .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-p .navbar,
#dropdown-menu-p .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-p .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-p .dropdown-menu a:hover,
#dropdown-menu-p .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-p .navbar-toggler {
  color: #000000;
}
#header1-2e P {
  font-size: 22px;
  text-align: center;
}

#dropdown-menu-q .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-q .navbar-brand a {
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-q .nav .link,
#dropdown-menu-q .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-q .navbar,
#dropdown-menu-q .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-q .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-q .dropdown-menu a:hover,
#dropdown-menu-q .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-q .navbar-toggler {
  color: #000000;
}

#dropdown-menu-1k .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1k .navbar-brand a {
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-1k .nav .link,
#dropdown-menu-1k .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-1k .navbar,
#dropdown-menu-1k .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1k .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1k .dropdown-menu a:hover,
#dropdown-menu-1k .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1k .navbar-toggler {
  color: #000000;
}
#content1-2s P {
  font-size: 20px;
}

#dropdown-menu-1g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1g .navbar-brand a {
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-1g .nav .link,
#dropdown-menu-1g .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-1g .navbar,
#dropdown-menu-1g .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1g .dropdown-menu a:hover,
#dropdown-menu-1g .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1g .navbar-toggler {
  color: #000000;
}

#dropdown-menu-t .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-t .navbar-brand a {
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-t .nav .link,
#dropdown-menu-t .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-t .navbar,
#dropdown-menu-t .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-t .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-t .dropdown-menu a:hover,
#dropdown-menu-t .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-t .navbar-toggler {
  color: #000000;
}
#content4-3f P {
  font-size: 18px;
  text-align: center;
}
#content4-3f H4 {
  font-size: 25px;
}
#content4-3g H4 {
  font-size: 23px;
}
#content4-3g P {
  text-align: center;
  font-size: 18px;
}
#content4-3g B {
  font-size: 18px;
}

#dropdown-menu-u .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-u .navbar-brand a {
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-u .nav .link,
#dropdown-menu-u .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-u .navbar,
#dropdown-menu-u .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-u .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-u .dropdown-menu a:hover,
#dropdown-menu-u .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-u .navbar-toggler {
  color: #000000;
}
